# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Optional (for preview image support)
#GOOGLE_APPLICATION_CREDENTIALS=

# Optional (for preview image support)
#GCLOUD_PROJECT=

# Optional (for preview image support)
#FIREBASE_COLLECTION_IMAGES=

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for rendering tweets efficiently)
TWITTER_ACCESS_TOKEN=


#CED
NOTION_PAGE_ID=d217a27c68f64427a495fb954aa8abbd

SITE_NAME=Civil Engineering Doc

NEXT_SITE_URL=localhost:3000

SITE_DESC=Civil Enginner's Wiki

SITE_AUTHOR="Civil Engineering Doc"

SOCIAL_IMAGE_TITLE=Civil Engineering Doc

SOCIAL_IMAGE_SUBTITLE=Welcome To Civil Engineering Wiki 👋



#SOCIAL


GITHUB_USERNAME=shaileshofficial2019

TWITTER_USERNAME=ig_shailesh

LINKEDIN_USERNAME=shaileshchaudhary